h1, h2, h3, h4, h5, h6, html, body {
  margin: 0;
  padding: 0;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, html > a, body > a {
  text-decoration: none;
  color: inherit;
}

ul, p, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper{
  width: 1440px;
  padding: 0 165px;
}